[Unit]
Description=RPi Web Shell Service
After=network.target

[Service]
User=root
WorkingDirectory=/usr/share/rpi-metrics/Server
Environment="PATH=/usr/share/rpi-metrics/Server/venv/bin"
ExecStart=/usr/share/rpi-metrics/Server/venv/bin/python /usr/share/rpi-metrics/Server/shell/shell_server.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=rpi-shell

[Install]
WantedBy=multi-user.target
